[Unit]
Description=Robô Monitor OEE Dashboard
After=network.target graphical.target
Wants=graphical.target

[Service]
Type=simple
User=rpa_robo
WorkingDirectory=/home/rpa_robo
ExecStart=/bin/bash /home/rpa_robo/start_robo.sh
Restart=always
RestartSec=15
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
